# Godot 4+ specific ignores
.godot/
/android/

# Generated icon files
**/*_icon.png*

# Export presets
export_presets.cfg

# Steamworks SDK binaries for multiple operating systems and architectures
/addons/godotsteam